@model IEnumerable<MusicApplication.Models.Song>

@{
    ViewData["Title"] = "Index";
}

<h1>Songs</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationSeconds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th>
                Artist
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.ReadableDuration()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Title)
            </td>
            <td>
               @item.GetAllArtists()
            </td>
            <td>
                <a asp-action="AddToPlaylist" asp-route-id="@item.Id">Add to Playlist</a> 
            </td>
        </tr>
}
    </tbody>
</table>
