@model MusicApplication.Models.Playlist

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<div class="row">
    <div class="col">
        <h4>@ViewBag.SongCount songs</h4>
    </div>
    <div class="col">
        <h4>@ViewBag.Duration</h4>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaylistSongs.First().Song.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaylistSongs.First().Song.Album)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaylistSongs.First().TimeAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaylistSongs.First().Song.DurationSeconds)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (PlaylistSong item in Model.PlaylistSongs) {
            
        <tr class="justify-content-center">
            <td>
                @ViewBag.Counter
            </td>
            <td>
                <p class="fw-bold">@item.Song.Title</p>
                <p class="text-opacity-50">@item.Song.GetAllArtists()</p>
            </td>
            <td>
                @item.Song.Album.Title
            </td>
            <td>
                @Html.DisplayFor(model => model.PlaylistSongs.First(i => i == item).TimeAdded)
            </td>
            <td>
                @item.Song.ReadableDuration()
            </td>
            <td>
                <a asp-action="RemoveSong" asp-route-psId="@item.Id" asp-route-playlistId="@item.Playlist.Id" asp-route-songId="@item.Song.Id">Remove</a>
            </td>
        </tr>

        ViewBag.Counter += 1;
}
    </tbody>
</table>


<div>
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
</div>
<div>
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="Songs" asp-action="Index">All Songs</a>
</div>
