@model MusicApplication.Models.Playlist

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<div class="row">
    <div class="col">
        <h4>@ViewBag.SongCount songs</h4>
    </div>
    <div class="col">
        <h4>@ViewBag.Duration seconds</h4>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaylistSongs.First().Song.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaylistSongs.First().Song.Album)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaylistSongs.First().TimeAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaylistSongs.First().Song.DurationSeconds)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (PlaylistSong item in Model.PlaylistSongs) {
            
            <tr>
            <td>
                @ViewBag.Counter
            </td>
            <td>
                <p>@item.Song.Title</p>
                <p>@item.Song.GetAllArtists()</p>
            </td>
            <td>
                @item.Song.Album.Title
            </td>
            <td>
                @item.TimeAdded
            </td>
            <td>
                @item.Song.DurationSeconds s
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
            </td>
        </tr>

        ViewBag.Counter += 1;
}
    </tbody>
</table>


<div>
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
